{% extends 'aplicacion/index.html' %}

{% block titulo %}
    <title>Agregar Jugador</title>
{% endblock %}

{% block titulo_pag %}
    <div class="container">
        <div class="welcome-hero-txt">
            <h2>Agregar Jugador</h2>
        </div>
{% endblock %}

{% block contenido %}
        <form action="" method="post">
            {% csrf_token %}
            <table class="formulario">
                {{ form.as_table }}
            </table>
            <input class="inputForm" type="submit" value="Guardar nuevo jugador">
        </form>
{% endblock %}