{% extends "aplicacion/index.html" %}

{% block titulo %}
    <title>Jugadores</title>
{% endblock %}

{% block titulo_pag %}
<div class="container">
    <div class="welcome-hero-txt">
        <h2>Jugadores</h2>

    </div>
{% endblock %}

{% block contenido %}
<table>
    <tr>
        <td width="200"><h2 class="botonAgregar">JUGADORES</h2></td>
        <td>
            <a href="{% url 'jugador_create' %}" class="btn btn-primary btn-sm boton">
                <i class="fa fa-plus fa-lg" title="Crear"></i>
            </a>
        </td>
    </tr>
</table>

<div >
    <div >
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Posición</th>
                    <th>Nacimiento</th>
                    <th>País</th>
                    <th>Altura (cm)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for j in jugador_list %}
                    <tr>
                        <td>{{ j.apellido }}</td>
                        <td>{{ j.nombre }}</td>
                        <td>{{ j.posicion }}</td>
                        <td>{{ j.nacimiento }}</td>
                        <td>{{ j.pais }}</td>
                        <td>{{ j.altura }}</td>

                        <td>
                            <a 
                            href="{% url 'jugador_edit' j.id %}"
                            class="btn btn-primary"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                            </a>
                            <a 
                            href="{% url 'jugador_delete' j.id %}"
                            class="btn btn-primary"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                            </a>
                        </td> 
                    </tr>
                {% endfor %}
                </tbody>
        </table>
    </div>
{% endblock %}

{% block bckg %}
<section id="home" class="juga_welcome-hero">
{% endblock %}